/**
 * Joomla! component TweetScheduler
 *
 * @author Yireo
 * @package TweetScheduler
 * @copyright Copyright 2014
 * @link http://www.yireo.com/
 */

div.chart-container {
    background-color: white;
    margin: 20px;
    margin-left: 0;
    padding: 20px;
    border: 1px solid #ccc;
}

div#chart {
    height: 200px;
    width: 700px;
}
